/*
font-family: "Gilroy";
font-family: 'Playfair Display', serif;
*/

* {
	box-sizing: border-box;
}

body {
	margin: 0;
	font-family: "Gilroy";
	background-color: #0b1d26;
	background-image: url("./../img/BG.jpg");
	background-size: 100% auto;
	background-repeat: no-repeat;
	color: white;
}

/* UTILITIES */

.row {
	display: flex;
}

.space-beteween {
	justify-content: space-between;
}

.yellow {
	background-color: yellow;
}

.green {
	background-color: green;
}

.red {
	background-color: red;
}

/* HEADER */

.header {
	padding-top: 64px;
}

.container-wide {
	margin: 0 auto;
	padding: 0 80px;
}

.nav-wrapper {
	margin-bottom: 198px;
}

.logo {
	font-family: "Chronicle Display Bold";
	font-size: 32px;
	line-height: 1.187;
	color: white;
	text-decoration: none;
	margin-top: 0;
}

.nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
	font-family: "Gilroy";
	font-weight: 700;
	font-size: 18px;
	line-height: 22px;
}

.nav ul li + li {
	margin-left: 40px;
}

.nav ul li a {
	text-decoration: none;
	color: white;
}

.nav ul li a:hover {
	color: #fbd784;
	text-decoration: underline;
}

.account {
	font-size: 18px;
	font-weight: 700;
	line-height: 1.222;
	text-decoration: none;
	color: white;
	width: 98px;
	background-color: green;
	text-align: right;
	background: url("../img/icon_1.svg") no-repeat top left;
}

.account:hover {
	color: #fbd784;
	text-decoration: underline;
}

.nav,
.account {
	margin-top: 7px;
}

.main-title {
	width: 950px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	gap: 32px;
}

/* MAIN TITLE */

.key-title-category {
	position: relative;
	margin-left: 104px;
	color: #fbd784;
	font-size: 18px;
	line-height: 1.222;
	font-weight: 800;
	letter-spacing: 6px;
	text-transform: uppercase;
}

.key-title-category::before {
	position: absolute;
	content: "";
	width: 72px;
	height: 2px;
	background-color: #fbd784;
	display: block;
	left: -104px;
	top: 50%;
	transform: translateY(-50%);
}

.key-title {
	font-family: "Chronicle Display";
	font-size: 88px;
	line-height: 1.136;
	font-weight: 600px;
	text-transform: capitalize;
}

.key-title-scroll {
	font-size: 18px;
	line-height: 1.222;
	background: url("../img/icon_2.svg") no-repeat top right;
	width: 126px;
}

/* CONTENT */

main {
	display: flex;
	flex-direction: column;
	gap: 200px;
	width: 1462px;
	margin: 843px auto 120px auto;
}

.content {
	position: relative;
	width: 1462px;
	height: 720px;
}

.section-wrapper {
	position: absolute;
	width: 632px;
	display: flex;
	flex-wrap: wrap;
	gap: 27px;
	top: 141px;
	left: 150px;
}

.content.start {
	background: url("../img/01.svg"), url("../img/1.jpg");
	background-position: left top 60px, right;
	background-repeat: no-repeat;
}

.content-right.essentials {
	background: url("../img/02.svg"), url("../img/2.jpg");
	background-position: right 523px top 60px, left;
	background-repeat: no-repeat;
}

.content.map {
	background: url("../img/03.svg"), url("../img/3.jpg");
	background-position: left top 60px, right;
	background-repeat: no-repeat;
}

.content-title-category {
	position: relative;
	margin-left: 94px;
	color: #fbd784;
	font-size: 18px;
	line-height: 1.222;
	font-weight: 800;
	letter-spacing: 6px;
	text-transform: uppercase;
}

.content-title-category::before {
	position: absolute;
	content: "";
	width: 72px;
	height: 2px;
	background-color: #fbd784;
	display: block;
	left: -104px;
	top: 50%;
	transform: translateY(-50%);
}

.content-title {
	font-family: "Chronicle Display";
	font-weight: 600px;
	font-size: 64px;
	line-height: 1.203;
	color: white;
	margin-right: 77px;
}

.content-description {
	font-size: 18px;
	line-height: 1.777;
	color: white;
	font-weight: 700;
}

.content-direction {
	color: #fbd784;
	width: 127px;
	background: url("../img/icon_3.svg") no-repeat right;
}

.content-right {
	position: relative;
	width: 1462px;
	height: 720px;
}

.section-wrapper-right {
	position: absolute;
	width: 632px;
	display: flex;
	flex-wrap: wrap;
	gap: 27px;
	top: 141px;
	right: 0;
}

footer {
	height: 280px;
}
